.vscode/
build/
/cmake-build-debug
/cmake-build-minsizerel
/.idea
/wasm
/wasm2
sdl_mixer/external/flac/
sdl_mixer/external/libgme/
sdl_mixer/external/libxmp/
sdl_mixer/external/mpg123/
sdl_mixer/external/ogg/
sdl_mixer/external/opus/
sdl_mixer/external/opusfile/
sdl_mixer/external/tremor/
sdl_mixer/external/vorbis/
sdl_mixer/external/wavpack/
/wsm3
cmake-build-minsizerel-visual-studio/
cmake-build-debug-visual-studio/
